#not-found{
position: relative;
padding-top: 140px;
}

#not-found .under-construction{
font-size: 50px;
font-style: italic;
font-weight: 1000;
font-family: time-new-roman;
}

#not-found a{
font-size: 50px;
font-style: italic;
font-weight: 1000;
font-family: time-new-roman;
color: red;
}

/*#not-found .notfound{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
}
*/